.buttons
  display: flex
  justify-content: center
  margin: 20px 0

  .button
    margin-left: 28px

  .button:first-child
    margin-left: 0
  
.button
  padding: 2px
  display: inline-flex
  align-items: center
  justify-content: center
  width: 154px
  height: 50px
  border-radius: 10px
  text-decoration: none
  color: white
  font-size: 13px
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 1px
  cursor: pointer
  background-image: linear-gradient(to right, $button-gradient-one, $button-gradient-two)
  box-sizing: border-box
  position: relative

  &__text
    display: inline-flex
    align-items: center
    justify-content: center
    border-radius: 10px
    width: 100%
    height: 100%
    background-color: $button-background
    position: relative
    z-index: 1
    transition: $tr

  &.blue
    background-image: linear-gradient(to bottom, $button-gradient-one, $button-gradient-two)
    border: none

  &.blue::after
    pseudo()
    top: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: 10px
    background-image: linear-gradient(to bottom, $button-gradient-two, $button-gradient-one)
    transition: $tr
    z-index: 0
    opacity: 0

  &.blue:hover::after
    opacity: 1

  .icon.download
    margin-right: 8px

  .icon.button-triangle
    margin-left: 8px

  span
      z-index: 1

.button:hover

  .button__text
    background-color: transparent