html
body
  width: 100%
  min-height: 100%
  color: $text-main
  font-family: 'Roboto', sans-serif
  font-weight: 400

body
  line-height: 1
  font-size: 16px
  color: $text-main

h1, h2, h3, h4, h5, h6
  display: inline-block

h1
h2
  margin: 56px 0 20px
  font-size: 56px
  line-height: 56px
  font-weight: 300
  color: white

h3
  margin: 20px 0
  font-size: 18px
  font-weight: 400
  color: white
p
  margin: 4px 0
  line-height: 2
  font-size: 15px

a
  display: inline-block
  text-decoration none

ul
  padding: 0
  margin: 0
  list-style: none

img
  display: inline-block
  max-width: 100%

*
  box-sizing: border-box

@keyframes eye
  0%
    transform: rotateY(0deg)
  100%
    transform: rotateY(360deg)
