html
body
  width: 100%
  min-height: 100%
  color: $text-main
  font-family: 'Roboto', sans-serif
  font-weight: 400

body
  min-width: 320px
  line-height: 1
  font-size: 16px
  color: $text-main
  background: $body-background url('assets/bg-body.png') no-repeat
  background-size: cover

  +m($tablet)
    background: $body-background url('assets/bg-mobile.png') repeat
    background-size: contain


h1, h2, h3, h4, h5, h6
  display: inline-block

h1
h2
  margin: 56px 0 20px
  font-size: 56px
  line-height: 56px
  font-weight: 300
  color: white

  +m($tablet)
    font-size: 46px

  +m($mobile)
    font-size: 30px

h3
  margin: 20px 0
  font-size: 18px
  font-weight: 400
  color: white
p
  margin: 4px 0
  line-height: 2.5
  letter-spacing: 0.7px
  font-size: 15px

  +m($tablet)
    line-height: 1.6

a
  display: inline-block
  text-decoration none

ul
  padding: 0
  margin: 0
  list-style: none

img
  display: inline-block
  max-width: 100%

*
  box-sizing: border-box