.icon
  position: relative
  display: inline-block
  background-size: cover
  background-position: center

  &.button-triangle
    width: 8px
    height: 6px
    &::after
      pseudo()
      top: 0
      left: 0
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 4px 0 4px;
      border-color: #ffffff transparent transparent transparent;

  &.download
    width: 14px
    height: 14px
    background-image: url('assets/icon-download.svg')

  &.developers
    width: 100px
    height: 95px
    background-image: url('assets/developers.svg')

  &.users
    width: 100px
    height: 95px
    background-image: url('assets/users.svg')

  &.papers
    width: 100px
    height: 95px
    background-image: url('assets/papers.svg')

// RESOURCES
  &.github
    width: 20px
    height: 20px
    background-image: url('assets/icon-github-face.svg')

  &.document-box
    width: 20px
    height: 20px
    background-image: url('assets/icon-documentation.svg')

  &.account
    width: 20px
    height: 20px
    background-image: url('assets/icon-user.svg')

  &.worker
    width: 20px
    height: 20px
    background-image: url('assets/icon-miner.svg')

  &.database
    width: 20px
    height: 20px
    background-image: url('assets/icon-spec.svg')

  &.document
    width: 20px
    height: 20px
    background-image: url('assets/icon-whitepaper.svg')

// ECOMMERCE
  &.multisig
    width: 30px
    height: 30px
    background-image: url('assets/icon-multisig.svg')

  &.aliases
    width: 30px
    height: 30px
    background-image: url('assets/icon-aliases.svg')

  &.escrow
    width: 30px
    height: 30px
    background-image: url('assets/icon-escrow.svg')

  &.purchase
    width: 30px
    height: 30px
    background-image: url('assets/icon-purchase.svg')

// SOCIAL
  &.slack
    width: 20px
    height: 20px
    background-image: url('assets/icon-slack.svg')

  &.discord
    width: 20px
    height: 20px
    background-image: url('assets/icon-discord.svg')

  &.telegram
    width: 20px
    height: 20px
    background-image: url('assets/icon-telegram.svg')

  &.medium
    width: 20px
    height: 20px
    background-image: url('assets/icon-medium.svg')

  &.twitter
    width: 20px
    height: 20px
    background-image: url('assets/icon-twitter.svg')
