.navigation

  &__link
    margin-right 28px
    color: $text-controls
    font-size 13px
    font-weight 700
    text-transform: uppercase
    letter-spacing: 1px

  &__link:last-child
    margin-right 0