.section

  &.hero
    text-align: center

  &.core
    padding: 100px 0

    .section__wrap
      display: flex
      flex-direction: row
      justify-content: space-between

    .section__left
      width: 60%

    .section__right
      width: 40%

    .section__icon
      position: relative
      left: -100px

    .feature
      margin-top: 50px

  &.privacy
    padding: 100px 0

    .features
      display: flex
      flex-direction: row
      justify-content: space-between

    .feature
      width: 40%

  &.ecommerce
    padding: 100px 0

    .features
      display: flex
      flex-direction: row
      justify-content: space-between
      flex-wrap: wrap

    .feature
      width: 40%
      margin-bottom: 20px

  &.wallet
    padding: 100px 0

    .section__wrap
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center

    .section__left
      width: 40%

    .section__right
      width: 60%

  &.resources
    padding: 100px 0
    text-align: center