.section
  padding: 100px 0

  +m($tablet)
    padding: 40px 0

  &__title
    margin-bottom: 50px

  &__icon
    position: relative
    z-index: 1

  // HERO
  &.hero
    padding: 0 0 100px
    text-align: center

    +m($mobile)
      padding: 0 0 20px

    .section__icon
      margin-top: 100px

      +m($mobile)
        margin-top: 30px

  // SECTION CORE
  &.core

    .section__wrap
      display: flex
      flex-direction: row
      justify-content: space-between

      +m($tablet)
        flex-direction: column
        justify-content: center

    .section__left
      width: 60%

      +m($tablet)
        display: none

    .section__right
      width: 40%
      
      +m($tablet)
        width: 100%

    .section__icon
      position: relative
      left: -100px

    .feature
      position: relative
      margin-top: 100px

      +m($tablet)
        margin-top: 40px

    .feature::after
      pseudo()
      top: -60px
      left: 60px
      transform: translateX(-100%)
      width: 499px
      height: 25px
      background-image: url('assets/icon-dot.png')
      background-size: cover
      z-index: 0

      +m($tablet)
        display: none

  // SECTION PRIVACY
  &.privacy

    .features
      display: flex
      flex-direction: row
      justify-content: space-between

      +m($mobile)
        flex-direction: column

    .feature
      width: 40%

      +m($mobile)
        width: 100%

  // SECTION ECOMMERCE
  &.ecommerce
    display: block
    text-align: center

    .features
      margin-top: 100px
      display: flex
      flex-direction: row
      justify-content: space-between
      flex-wrap: wrap
      text-align: left

      +m($mobile)
        flex-direction: column

    .feature
      width: 40%
      margin-bottom: 20px

      +m($mobile)
        width: 100%

  // SECTION WALLET
  &.wallet

    .section__wrap
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      
      +m($mobile)
        flex-direction: column-reverse

    .section__left
      width: 40%
    
      +m($mobile)
        width: 100%

    .section__right
      width: 60% 
    
      +m($mobile)
        width: 80%

    .drop-down
      margin-top: 50px

      // temp styles
      display: flex
      flex-direction: row-reverse
      justify-content: flex-end
      align-items: center
      position: relative

      .soon
        margin-left: 10px
      // end temp styeles

  // SECTION RESOURCE
  &.resources
    text-align: center