.section

  &__title
    margin-bottom: 50px

  &__icon
    position: relative
    z-index: 1

  &.hero
    text-align: center

    .section__icon
      margin-top: 100px
  
  // SECTION CORE
  &.core
    padding: 100px 0

    .section__wrap
      display: flex
      flex-direction: row
      justify-content: space-between

    .section__left
      width: 60%

    .section__right
      width: 40%

    .section__icon
      position: relative
      left: -100px

    .feature
      position: relative
      margin-top: 100px

    .feature::after
      pseudo()
      top: -60px
      left: 60px
      transform: translateX(-100%)
      width: 499px
      height: 25px
      background-image: url('assets/icon-dot.png')
      background-size: cover
      z-index: 0

  // SECTION PRIVACY
  &.privacy
    padding: 100px 0

    .features
      display: flex
      flex-direction: row
      justify-content: space-between

    .feature
      width: 40%

  // SECTION ECOMMERCE
  &.ecommerce
    display: block
    padding: 100px 0
    text-align: center

    .features
      margin-top: 100px
      display: flex
      flex-direction: row
      justify-content: space-between
      flex-wrap: wrap
      text-align: left

    .feature
      width: 40%
      margin-bottom: 20px

  // SECTION WALLET
  &.wallet
    padding: 100px 0

    .section__wrap
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center

    .section__left
      width: 40%

    .section__right
      width: 60%

    .button
      margin-top: 50px

  // SECTION RESOURCE
  &.resources
    padding: 100px 0
    text-align: center