.title
  position: relative

  &__select    
    color: $blue
  
  &__shadow
    position: absolute
    bottom: 30px
    font-size: 144px
    font-weight: 900
    opacity: 0.05

  &.centred .title__shadow
    left: 50%
    transform: translateX(-50%)