$shadowColor = #2a3676

.title
  position: relative

  &__text
    position: relative
    z-index: 2

  &__text-select
    position: relative  
    color: $blue
    z-index: 2
  
  &__shadow
    position: absolute
    bottom: 30px
    left: 0
    font-size: 144px
    font-weight: 900
    opacity: 0.4
    color: $shadowColor
    z-index: 1

    +m($tablet)
      font-size: 100px
      bottom: 20px

    +m($mobile)
      font-size: 70px
      bottom: 14px

  &.centred .title__shadow
    left: 50%
    transform: translateX(-50%)