-
  const footerSocial = [
    { title: 'twitter',           link: '#' },
    { title: 'medium',            link: '#' },
    { title: 'slack',             link: '#' }
  ]

  const copyright = 'Copyright © 2019 ZANO.org'

// footer
footer.footer
  a(href='index.html' target='_self').logo
    img.logo__img(src=require('../media/logo.svg'), alt="Zano logo")

  include navigationFooter

  include social

  span.footer__copyright=copyright
