// header
header.header.container
  div.header__left
    a(href='index.html' target='_self').logo
      img.logo__img(src=require('../media/logo.svg'), alt="Zano logo")
      p.logo__text
        span.logo__word zano
        span.logo__word marketplace

  div.header__center
    include navigation-marketplace

  div.header__right
    //- include language

    include social

  div.hamburger#hamburger
    span.hamburger__line
    span.hamburger__line
    span.hamburger__line
