-
  const footerNav = [
    {
      title: 'ZANO.ORG',
      links: [
        { title: 'Main website',      link: '/',                                             target: '_self'                             },
        { title: 'Coinswap',          link: 'https://coinswap.zano.org'                                                                  },
        { title: 'Marketplace',       link: '#',                                                                          disabled: true }
      ]
    },
    {
      title: 'ABOUT',
      links: [
        { title: 'Blog',              link: 'https://medium.com/@zano_project'                                                           },
        { title: 'Team',              link: '/team.html',                                   target: '_self'                              },
        { title: 'Contacts',          link: '#',                                                                          disabled: true }
      ]
    },
    {
      title: 'RESOURCES',
      links: [
        { title: 'Downloads',         link: '/downloads.html',                              target: '_self'                               },
        { title: 'Roadmap',           link: '/roadmap.html',                                target: '_self'                               },
        { title: 'Documentation',     link: 'https://docs.zano.org/',                                                                     },
        { title: 'Explorer',          link: 'https://explorer.zano.org/',                                                                 },
        { title: 'Specifications',    link: 'https://docs.zano.org/docs/specifications'                                                   }
      ]
    },
    {
      title: 'LEGAL',
      links: [
        { title: 'Terms of use',      link: '/terms-of-use.html',                           target: '_self'                               },
        { title: 'Privacy Policy',    link: '/privacy-policy.html',                         target: '_self'                               },
        { title: 'Cookie Policy',     link: '/cookie-policy.html',                          target: '_self'                               }
      ]
    }
  ];

div.footer-nav
  each section in footerNav
    div.footer-nav__section
      h4.footer-nav__title= section.title
      ul.footer-nav__list
        each link in section.links
          li.footer-nav__el
            a.footer-nav__link.navigation__link(class=link.disabled && 'disabled' href= link.link target= link.target)= link.title
