nav.navigation
  a(class='navigation__link'          href='https://medium.com/@zano_project'     aria-label='blog') blog
  a(class='navigation__link'          href='team.html'                            aria-label='team' target='_self') team
  a(class='navigation__link'          href='roadmap.html'                         aria-label='roadmap'  target='_self') roadmap
  a(class='navigation__link'          href='downloads.html'                       aria-label='downloads'  target='_self') downloads
  a(class='navigation__link'          href='https://docs.zano.org/'               aria-label='resources') resources
  a(class='navigation__link'          href='https://explorer.zano.org'            aria-label='resources') explorer
