-
  const footerNav = [
    {
      title: 'ZANO.ORG',
      links: [
        { title: 'Main website',      link: 'https://zano.org'                                              },
        { title: 'Coinswap',          link: 'https://coinswap.zano.org'                                     },
        { title: 'Marketplace',       link: '#',                                            disabled: true  }
      ]
      },
      {
      title: 'ABOUT',
      links: [
        { title: 'Blog',              link: 'https://medium.com/@zano_project'                              },
        { title: 'Team',              link: 'https://zano.org/team.html'                                    },
        { title: 'Contacts',          link: '#',                                            disabled: true  }
      ]
      },
      {
      title: 'RESOURCES',
      links: [
        { title: 'Downloads',         link: 'https://zano.org/downloads.html'                               },
        { title: 'Roadmap',           link: 'https://zano.org/roadmap.html'                                 },
        { title: 'Documentation',     link: 'https://docs.zano.org/',                                       },
        { title: 'Explorer',          link: 'https://explorer.zano.org/',                                   },
        { title: 'Specifications',    link: 'https://docs.zano.org/docs/specifications',                    }
      ]
      },
      {
      title: 'LEGAL',
      links: [
        { title: 'Terms of use',      link: '/terms-of-use.html',                                           },
        { title: 'Privacy Policy',    link: '/privacy-policy.html',                                         },
        { title: 'Cookie Policy',     link: '/cookie-policy.html',                                          }
      ]
    }
  ];

div.footer-nav
  each section in footerNav
    div.footer-nav__section
      h4.footer-nav__title= section.title
      ul.footer-nav__list
        each link in section.links
          li.footer-nav__el
            a.footer-nav__link.navigation__link(class=link.disabled && 'disabled' href= link.link)= link.title
