nav.navigation
  a(class='navigation__link'          href='https://marketplace.zano.org'                   aria-label='Marketplace'            target='_self') Marketplace
  a(class='navigation__link'          href='https://marketplace.zano.org/snippet.html'      aria-label='Snippet'                target='_self') Snippet
  a(class='navigation__link'          href='https://marketplace.zano.org/api.html'          aria-label='API'                    target='_self') API
  a(class='navigation__link'          href='https://marketplace.zano.org/use-cases.html'    aria-label='Use cases'              target='_self') Use cases