nav.navigation
  a(class='navigation__link'          href='#'                aria-label='Contract Snippet'                     ) Contract Snippet
  a(class='navigation__link'          href='#'                aria-label='API'                    target='_self') API
  a(class='navigation__link'          href='#'                aria-label='Use cases'              target='_self') Use cases