-
  const downloads = [
    {
      icon: 'windows',
      title: 'windows',
      links: [
        { title: 'exe',     href: 'https://zano.org/downloads/zano-win-setup.exe' },
        { title: 'zip',     href: 'https://zano.org/downloads/zano-win.zip' }
      ]
    },
    {
      icon: 'linux',
      title: 'linux',
      links: [
        { title: 'tar.bz2', href: 'https://zano.org/downloads/zano-linux-x64.tar.bz2' }
      ]
    },
    {
      icon: 'mac',
      title: 'mac',
      links: [
        { title: 'dmg',     href: 'https://zano.org/downloads/zano-macos-x64.dmg' }
      ]
    },
    {
      icon: 'gpu',
      title: 'Mining software',
      links: [
        { title: 'cuda',    href: 'https://zano.org/downloads/progminer-zano-cuda.exe' },
        { title: 'opencl',  href: 'https://zano.org/downloads/progminer-zano-opencl.exe' },
        { title: 'cpu',     href: 'https://zano.org/downloads/progminer-zano-cpu.exe' }
      ]
    },
  ]

// section downloads
section.section.downloads
  div.section__wrap.container

    h2.section__title.title.centred
      span.title__text Downloads
      span.title__shadow Downloads

    p.section__subtitle Zano Desktop Wallet is available on Windows, Mac and Linux. Mining software binaries available for Windows GPU

    div.downloads
      each item in downloads
        figure.downloads__item
          .downloads__icon
            span.icon(class= item.icon)

          figcaption
            h4.downloads__title= item.title
            div.downloads__buttons
              each button in item.links
                a(href= button.href).button.blue
                  span.button__text= button.title

    div.description
      h4 Zano wallet
      p Please refer to this article to learn how install and create the <a href='https://docs.zano.org/docs/getting-started-1'>wallet</a> using Zano Desktop app. Zano is an open source project with code on available on <a href='https://github.com/hyle-team/zano/releases'>Github</a>. When you download Zano Wallet, you may want to verify its <a href='https://docs.zano.org/docs/how-to-verify-binaries-authenticity'>authenticity</a> to make sure that you downloaded the correct one from the Hyle Team GitHub repository. More information can be found on <a href='https://docs.zano.org'>resources page</a>

      h4 Mining software
      p Mining software available for both CPU and GPU, with CUDA and OpenCL implementation. Source code is on <a href='https://github.com/hyle-team/zano/releases'>Github</a>. Apart from that Zano daemon features internal stratum-like server that can host miner clients via ethProxy protocol. How to solo <a href='https://docs.zano.org/docs/mining-guide'>mine guide</a> is available on <a href='https://docs.zano.org'>resources page</a>
