-
  const socials = [
    { title: 'twitter',           link: 'https://twitter.com/zano_project' },
    { title: 'medium',            link: 'https://medium.com/@zano_project' },
    { title: 'discord',           link: 'https://discord.gg/wE3rmYY' },
    { title: 'telegram',          link: 'https://t.me/zanocoin' },
    { title: 'github',            link: 'https://github.com/hyle-team/zano' }
  ]

ul.social
  each social in socials
    li.social__el
      a.social__link(href= social.link title= social.title)
        span.icon(class= social.title)