-
  const footerSocial = [
    { title: 'twitter',           link: '#' },
    { title: 'medium',            link: '#' },
    { title: 'slack',             link: '#' }
  ]

  const copyright = 'Copyright © 2019 ZANO.org'

// footer
footer.footer
  div.logo
    img.logo__img(src="assets/logo.svg", alt="Zano logo")

  include navigation

  include social

  span.footer__copyright=copyright