-
  const headerNav = [
    { title: 'coinswap',          link: '#', disabled: true },
    { title: 'blog',              link: '#', disabled: true },
    { title: 'resources',         link: '#', disabled: true }
  ]

  const headerSocial = [
    { title: 'twitter',           link: '#' },
    { title: 'medium',            link: '#' }
  ]

// header
header.header.container
  div.header__left
    div.logo
      img.logo__img(src="assets/logo.svg", alt="Zano logo")
      span.logo__title zano

  div.header__center
    nav.navigation
      each item in headerNav
        a(class=(`navigation__link ${item.disabled ? 'disabled' : ''}`) href= item.link aria-label= item.title)= item.title

  div.header__right
    div.language
      span.language__active Eng
      ul.language__list
        li.language__el
        li.language__el

    ul.social
      each item in headerSocial
        li.social__el
          a.social__link(href= item.link title= item.title)
            span(class=`icon ${item.title}`)