-
  const headerSocial = [
    { title: 'twitter',           link: '#' },
    { title: 'medium',            link: '#' },
    { title: 'slack',             link: '#' }
  ]

// header
header.header.container
  div.header__left
    div.logo
      img.logo__img(src="assets/logo.svg", alt="Zano logo")
      span.logo__title zano

  div.header__center
    include navigation

  div.header__right
    div.language
      span.language__active Eng
      ul.language__list
        li.language__el
        li.language__el

    include social