-
  const walletDescription = 'It is a mechanism to protect against double spend attacks with the possibility of leasing the power hash of many pure PoW coins became more vulnerable to a 51% attack at one time, pure PoS has its own vulnerabilities such  as nothing at stake, stake grinding.';

// section wallet
section.section.wallet
  div.section__wrap.container

    div.section__left
      h2.section__title.title
        span Zano 
        span.title__select Wallet
        span.title__shadow Wallet
      p= walletDescription

      a.button
        span.icon.download 
        span MacOS
        span.icon.button-triangle

    div.section__right
      div.section__icon
        img(src="assets/icon-wallet.png", alt="Zano wallet")
