// section hero
section.section.hero
  div.section__wrap.container

    h1.section__title.title.centred
      span Zano - 
      span.title__select Tenology 
      span Is Here
      span.title__shadow ZANO

    p.section__subtitle Project Z is a the development of a stable and secure coin, designed to use used in e-commerce. The technology behind our blockchain provides reliability, security, and flexibility, making it a viable option for P2P transactions.

    div.buttons
      a.button.blue
        span Whitepaper
        span.icon.button-triangle
      a.button
        span.button__text Coinswap

    div.section__icon
      img(src="assets/icon-hero.png", alt="Zano platform")
      div.keywords
        span.keyword Commerce
        span.keyword Core
        span.keyword PRIVACY