-
  const coreItems = [
    { title: 'Hybrid PoW/PoS Cryptonote',   description: 'The consensus process is balanced out by a hybrid PoW/PoS algorithm, utilizing the advantages those processes to their full potential. This makes the system less prone to double-spend attacks, improving the overall security.' },
    { title: 'Performance',                 description: 'The computational efficiency of our network is powered by key code design features like forward and backward compatibility, component-based modular structure, and asynchronous core architecture.' },
    { title: 'Stability',                   description: 'The extensive testing our system has undergone minimizes all the issues often encountered in the early days of any project. This makes the Zano network stable and release-ready from the day one.' }
  ]

// section core
section.section.core
  div.section__wrap.container

    div.section__left
      div.section__icon
        img(src="assets/icon-core.png", alt="Zano core")

    
    div.section__right
      h2.section__title.title
        span Zano 
        span.title__select Core
        span.title__shadow Core

      div.features
        each item in coreItems
          div.feature
            h3.feature__title= item.title
            p.feature__description= item.description