-
  const privacyItems = [
    { title: 'Untraceble Transactions',   description: 'The transactions between Zano network members are made untraceable with ring signatures and stealth addresses. Also, the way transaction data is stored on the blockchain allows access by authorized parties only, and none of the private data is ever publicly published.' },
    { title: 'Hidden wallet balance',     description: 'The confidentiality of all Zano transactions is hard-coded into the core. By concealing all sending and receiving addresses as we have maximized the level of privacy every Zano user has.' }
  ]

// section privacy
section.section.privacy
  div.section__wrap.container

    h2.section__title.title
      span Privacy 
      span.title__select Features
      span.title__shadow Privacy

    div.features
      each item in privacyItems
        div.feature
          h3.feature__title= item.title
          p.feature__description= item.description

    div.section__icon
      img(src="assets/icon-privacy.svg", alt="Zano privacy")