-
  const walletDescription = 'The new Zano wallet is designed to bring ease of use to highly secure, highly anonymous cryptocurrency transactions. Our goal is to reinvent wallet design, making CryptoNote transactions available to everyone. With this single cross-platform wallet, untraceable financial transactions become as easy as a banking app.';

// section wallet
section.section.wallet
  div.section__wrap.container

    div.section__left
      h2.section__title.title
        span Zano
        span.title__select Wallet
        span [Testnet]
        span.title__shadow Wallet
      p= walletDescription

      div.drop-down
        a.button.blue(href='https://github.com/hyle-team/zano/releases/download/1.0.8/zano-win-x64-v1.0.8.2822fa5.-installer.exe')
          span.icon.download
          span Windows
          span.icon.button-triangle
        div.drop-down__menu
          a.drop-down__item(href='https://github.com/hyle-team/zano/releases/download/1.0.8/zano-macos-x64-v1.0.8.2822fa5.dmg') MacOS
          a.drop-down__item(href='https://github.com/hyle-team/zano/releases/tag/1.0.8') Source

    div.section__right
      div.section__icon
        img(src="assets/icon-wallet.png", alt="Zano wallet")
