-
  const walletDescription = 'Storing Zano is now easy and convenient because of our new optimized wallet, which now supports contracts and staking. Also, users can now manage multiple Zano wallets from a single application that can be installed on Windows, Linux, or MacOS.';

// section wallet
section.section.wallet
  div.section__wrap.container

    div.section__left
      h2.section__title.title
        span Zano 
        span.title__select Wallet
        span.title__shadow Wallet
      p= walletDescription

      div.drop-down.disabled
        div.soon Coming soon...
        a.button.blue(href='#')
          span.icon.download 
          span MacOS
          span.icon.button-triangle
        div.drop-down__menu
          a.drop-down__item(href='#') Windows
          a.drop-down__item(href='#') Linux

    div.section__right
      div.section__icon
        img(src="assets/icon-wallet.png", alt="Zano wallet")
