-
  const ecommerceItems = [
    { icon: 'multisig',   title: 'Multisig ',                 description: 'Multi-signature, or simply multisig, is the key mechanism which allows 2 or more users to control a single wallet. This is mostly used in the escrow service, however multisig can also be used to create a two-factor authentication mechanism.' },
    { icon: 'escrow',     title: 'Escrow/P2P Contracts',      description: 'With our escrow service, users can create fully customizable contracts, which are essentially a mechanism that allows for any agreement conditions to be followed by all parties in a trustless way. When using the Zano network, a deposit is required from all parties as a financial incentive to alleviate any malicious activity.' },
    { icon: 'aliases',    title: 'Aliases',                   description: 'All Zano network members can have aliases, for example: @username. These aliases can be linked to a payment address, which makes our network more user-friendly. In the long run, aliases will be used in a dedicated messenger, a user reputation service, and an alias-based authentication system.' },
    { icon: 'purchase',   title: 'Purchase API/Web plugins',  description: 'API’s and plugins are what makes escrow and other features of our network easy to use for anyone. With this functionality, users are not required to have any coding knowledge to create contracts and implement them in any ecommerce-related ventures.' },
  ]

// section ecommerce
section.section.ecommerce
  div.section__wrap.container

    h2.section__title.title.centred
      span Ecommerce 
      span.title__select Platform
      span.title__shadow Ecommerce

    div.section__icon
      img(src="assets/icon-ecommerce.png", alt="Zano ecommerce")

    div.features
      each item in ecommerceItems
        div.feature
          span(class=`icon ${item.icon}`)
          h3.feature__title= item.title
          p.feature__description= item.description