-
  const walletDescription = 'The new Zano wallet is designed to bring ease of use to highly secure, highly anonymous cryptocurrency transactions. Our goal is to reinvent wallet design, making CryptoNote transactions available to everyone. With this single cross-platform wallet, untraceable financial transactions become as easy as a banking app.';

// section wallet
section.section.wallet
  div.section__wrap.container

    div.section__left
      h2.section__title.title
        span.title__text Zano
        span.title__text-select Wallet
        span.title__text [Testnet]
        span.title__shadow Wallet
      p= walletDescription

      div.drop-down
        a.button.blue(href='http://build.zano.org:8081/builds/zano-win-x64-v1.0.9[43faf7d]-installer.exe')
          span.icon.download
          span Windows
          span.icon.button-triangle
        div.drop-down__menu
          a.drop-down__item(href='http://build.zano.org:8081/builds/zano-macos-x64-v1.0.9[43faf7d].dmg') MacOS
          a.drop-down__item(href='http://build.zano.org:8081/builds/zano-linux-x64-v1.0.9[43faf7d].tar.bz2') Linux

    div.section__right
      div.section__icon.with-animation
        include icon-wallet.html
