// section hero
section.section.hero
  div.section__wrap.container

    h1.section__title.title.centred
      span Zano - 
      span.title__select Tenology 
      span Is Here
      span.title__shadow ZANO

    p.section__subtitle Anonymous cryptocurrency based on cryptonote

    div.buttons
      a.button Whitepaper
      a.button Coinswap

    div.section__icon
      img(src="assets/icon-hero.svg", alt="Zano platform")