-
  const coreItems = [
    { title: 'Hybrid PoW/PoS Cryptonote',   description: 'It is a mechanism to protect against double spend attacks with the possibility of leasing the power hash of many pure PoW coins became more vulnerable to a 51% attackat one time, pure PoS has its own vulnerabilities such as nothing at stake, stake grinding.' },
    { title: 'Performance',                 description: 'Here we describe the code design and kernel performance: the asynchronous architecture of the kernel, the forward and backward compatibility of our software, and the modular structure of the components.' },
    { title: 'Stability',                   description: 'Zano network was hung with a huge number of tests and simulations, and already a decent time is launched and tested in various extreme situations.' }
  ]

// section core
section.section.core
  div.section__wrap.container

    div.section__left
      div.section__icon
        img(src="assets/icon-core.png", alt="Zano core")

    
    div.section__right
      h2.section__title.title
        span Zano 
        span.title__select Core
        span.title__shadow Core

      div.features
        each item in coreItems
          div.feature
            h3.feature__title= item.title
            p.feature__description= item.description