ul.social
  li.social__el
    a.social__link(href='https://twitter.com/zano_project' title='twitter')
      span(class='icon twitter')
  li.social__el
    a.social__link(href='https://medium.com/@zano_project' title='medium')
      span(class='icon medium')
  li.social__el
    a.social__link(href='https://zanoproject.slack.com/signup' title='slack')
      span(class='icon slack')