extends ../parts/layout

block variables
  - var title = 'Zano | Secure & truly anonymous'
  - var bodyClass = 'downloads-page'

block content
  // main
  main.main#main
    include ../modules/section-downloads
