extends ../parts/layout

block variables
  - var title = 'Zano | Secure & truly anonymous'

block content
  // main
  main.main#main
    include ../modules/section-hero
    include ../modules/section-core
    include ../modules/section-privacy
    include ../modules/section-ecommerce
    include ../modules/section-resources
