// TEXT COLORS
$text-main = #9eaacc
$text-secont = #919abc
$text-controls = #dee0ee

// BACKGROUND COLORS
$bg-one = #1a357d

// SIZES
$container = 1140px

$colot-title-one = white
$colot-title-two = #1796ff
