extends ../parts/layout

block variables
  - var title = 'Index page'

block content
  // main
  main.main#main
    // section hero
    section.section.hero
      div.section__wrap.container
        h1 Zano - <span>Tenology</span> Is Here