nav.navigation
  a(class='navigation__link disabled' href='#'                                aria-label='coinswap') coinswap
  a(class='navigation__link'          href='https://medium.com/@zano_project' aria-label='blog') blog
  a(class='navigation__link'          href='https://docs.zano.org/'           aria-label='resources') resources
