m(width)
  @media only screen and (max-width: width)
    {block}

after()
  position: absolute
  content: ''

pseudo()
  position: absolute
  content: ''

font(alias, name)
  @font-face
    font-family: alias
    src: url("/assets/" + name + ".eot")
    src: url("/assets/" + name + ".eot?#iefix") format("embedded-opentype"), url("/assets/" + name + ".woff2") format("woff2"), url("/assets/" + name + ".woff") format("woff"), url("/assets/" + name + ".ttf") format("truetype")
    font-weight: normal
    font-style: normal
